<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiudian.manage.mapper.LendMapper">
    <resultMap id="LendMap" type="com.jiudian.manage.model.Lend">
        <result column="userid" property="userid"/>
        <result column="name" property="name"/>
        <result column="num" property="num"/>
        <result column="phone" property="phone"/>
    </resultMap>
    <insert id="Insert_a_record" parameterType="com.jiudian.manage.model.Lend">
        insert into lend (userid,name,num,phone,message) values (#{userid},#{name},#{num},#{phone},#{message})
    </insert>
    <select id="Get_lend_list" parameterType="java.lang.String" resultMap="LendMap">
        select * from lend where userid=#{userid}
    </select>

    <select id="Get_all_lend_list" resultMap="LendMap">
        select * from lend
    </select>
</mapper>