<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiudian.manage.mapper.Op_appMapper">

    <resultMap id="Op_appMap" type="com.jiudian.manage.model.Opening_app">
        <result column="application_id" property="application_id"/>
        <result column="p_name" property="p_name"/>
        <result column="your_name" property="your_name"/>
        <result column="your_id" property="your_id"/>
        <result column="phone" property="phone"/>
        <result column="p_type" property="p_type"/>
        <result column="t_name" property="t_name"/>
    </resultMap>

    <resultMap id="P_Map" type="com.jiudian.manage.model.Project">
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="ID" property="ID"/>
        <result column="money" property="money"/>
        <result column="state" property="state"/>
        <result column="t_name" property="t_name"/>
        <result column="userid" property="userid"/>
        <result column="gm_admin" property="gm_admin"/>
        <result column="checkDate" property="date"/>
    </resultMap>

    <insert id="Insert_Op_app" parameterType="com.jiudian.manage.model.Opening_app">
        insert into op_application (p_name,your_name,your_id,phone,p_type,t_name,state,money,uid) values (#{p_name},#{your_name},#{your_id},#{phone},#{p_type},#{t_name},#{state},#{money},#{uid})
    </insert>
    <select id="get_Op_app" resultMap="Op_appMap">
        select * from op_application
    </select>
    <update id="Edit_State" parameterType="java.lang.String">
        update op_application set state=#{state} where application_id=#{p_id}
    </update>
    <select id="Get_checked" resultType="com.jiudian.manage.model.Opening_app">
        select * from op_application where application_id=#{p_id}
    </select>
    <update id="Edit_money_State" >
        update project set state=#{state},gm_admin=#{gm_admin},checkDate=#{checkDate} where pid=#{p_id}
    </update>
    <select id="Get_all_checked" resultMap="P_Map">
        select * from project
    </select>

</mapper>